[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liruibao
[access "refs/for/refs/*"]
	read = group user/liruibao
	push = group user/liruibao
	label-Code-Review = -2..+2 group user/liruibao
	label-Verified = -1..+1 group user/liruibao
	rebase = group user/liruibao
	removeReviewer = group user/liruibao
	submit = group user/liruibao
[access "refs/heads/*"]
	read = group user/liruibao
	create = group user/liruibao
	push = +force group user/liruibao
	pushMerge = group user/liruibao
[access "refs/tags/*"]
	push = group user/liruibao
	push = +force group user/liruibao
